<ul class="rrssb-buttons clearfix">
    {% set page_url = socialbuttons_domain ~ url %}
    {% for name, values in socialbuttons_buttons %}

    {% if values.enabled %}
        {% include 'partials/_' ~ name ~ '.html.twig' with {'label': values.label} %}
    {% endif %}
    {% endfor %}
</ul>
<br/>
<ul class="rrssb-buttons clearfix">
<li><script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#46b798', 'P5P7ARIR');kofiwidget2.draw();</script></li>
<li><a href="https://www.patreon.com/bePatron?u=10179252" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script></li>
</ul>
